apiVersion: apps/v1
kind: Deployment
metadata:
  name: bullmq-metrics
  namespace: sparrowdesk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bullmq-metrics
  template:
    metadata:
      labels:
        app: bullmq-metrics
    spec:
      # remove hostNetwork
      hostNetwork: true 
      containers:
        - name: bullmq-metrics
          # image: 713859105457.dkr.ecr.us-east-1.amazonaws.com/bullmq-metrics:latest
          image: bnainar/bullmq-metrics:latest
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "500Mi"
              cpu: "500m"
            limits:
              memory: "500Mi"
          livenessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10
          envFrom:
          - configMapRef:
              name: bullmq-metrics-config
  strategy:
    type: RollingUpdate
